* {
  background-color: #0a2351;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  color: white;
  margin-bottom: 70px;
  font-family: "Courier New", Courier, monospace;
}
